[defaults]
callback_whitelist = timer
become = True
become_method = sudo
become_user = root
deprecation_warnings=False
ask_pass = false
ask_become_pass = false
#ansible_python_interpreter=/usr/bin/python3.6
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
timeout=60
become_timeout=60
gathering = explicit
interpreter_python = auto_silent
#stdout_callback = yaml
